*{
    position: relative;
    background-color: cadetblue;
}

.container{
    position: absolute;
    margin-left: 25vw;
    margin-top: 25vh;
    border-radius: 10px;
    border: 2px solid #ccc;
}

input{

    margin-top: 5vh;
    width: 30vw;
    height: 8vh;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: transparent;
    font-size:1.3em; 
    font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
    
}

.submit{

    width: 10vw;
    height: 8vh;
    border: 2px solid #ccc;
    border-radius: 10px;

}
a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}