img{
    width: 100%;
    height: 40vh;
    margin-top: -25px;
}
.links{
    margin-top: -17%;
}

.links Link{
    color: red;
    text-decoration: none;
}

span{
    margin-left: 20px;
}
.sale{
    color: white;
    margin-top: 7%;
}
.search{
    margin-left: 15%;
    margin-top: 5%;
    background-color: rgb(185, 82, 82);
    width: 70vw;
    height: 10vh;
}

.search .in{
    margin-top: 3%;
    margin-left: 0%;
    background-color: aliceblue;
    border-radius: 0%;
    width: 10vw;
}
.search .out{
    margin-left: 2%;
    background-color: aliceblue;
    border-radius: 0%;
    width: 10vw;
}

.search .spend{
    margin-left: 2%;
    background-color: aliceblue;
    border-radius: 0%;
    width: 10vw;
}
.search .nyaka{
    margin-left: 7%;
    width: 10vw;
    height: 6vh;
    border-radius: 15px;
    background-color: red;
}
table{
    width: 90%;
    margin-left: 5%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

input[type="date"]:not(.has-value):before{
    color: rgb(9, 9, 9);
    content: attr(placeholder);
    width: 100%;
  }

  input[type=date] {
    text-align: right;
  } 
  
  input[type="date"]:before {
    color: lightgrey;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
  }

  input[type="date"]:before {
    color: lightgrey;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
   }
