*{
    background-color: whitesmoke;
}

.payment-container{

    height: 80vh;
    width:70vw;
    background-color: aquamarine;
    margin-left: 15vw;
    margin-top: 10vh;
    font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
    color:rgb(0, 0, 0); 
    border:solid 1px #ccc; 
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;  
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    overflow-y: hidden;

}

.heading{

    color: rgb(27, 27, 144);

}
.payment-container .card-no{

    position: absolute;
    top: 67px;
    left: 22.7vw;
    background-color: transparent;
    color: rgb(41, 41, 44);
}

.payment-container .sixteen-dig{
    
    position: absolute;
    top: 75px;
    background-color: transparent;
    left: 22.7vw;
    color: rgb(41, 41, 44);

}

.payment-container1 input[type=text]{

    position: absolute;
    top: 18vh;
    right: 47vw;
    height: 6vh;
    width: 29.8vw;
    border-radius: 5px;
    border: 2px solid rgb(52, 48, 48);
    background-color: transparent;
    text-indent: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-numeric: ordinal;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1.3em;

}

input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }

.icon {
    height: 3.5rem;
    width: 4.5rem;
    background-color: transparent;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top: 25vh;
    left:23vw;
    transform: translateY(-50%);
  }


  .cvv-text{
    position: absolute;
    margin-top: 20vh;
    right: 53vw;
    margin-right: 20vw;
    top: 67px;
    right: 51.5vw;
    background-color: transparent;
    color: rgb(41, 41, 44);

  } 

  .cvv-text-exp{

    position:absolute;
    right: 67vw;
    margin-top: 21.8vh;
    right: 53vw;
    margin-right: 20vw;
    top: 67px;
    right: 43.7vw;
    background-color: transparent;
    color: rgb(41, 41, 44);

  }

  .cvv-input{

    position: absolute;
    top: 28.5vh;
    right: 47vw;
    height: 6vh;
    width: 15vw;
    border-radius: 5px;
    border: 2px solid rgb(52, 48, 48);
    background-color: transparent;
    /* text-indent: 70px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-numeric: ordinal;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1.3em;

}


  .expire{

    position:absolute;
    margin-top: 30vh;
    right: 51.6vw;
    margin-right: 20vw;
    top: 67px;
    background-color: transparent;
    color: rgb(41, 41, 44);

  }

  .expire-enter{

    position:absolute;
    margin-top: 32vh;
    right: 53vw;
    margin-right: 20vw;
    top: 67px;
    right: 43.7vw;
    background-color: transparent;
    color: rgb(41, 41, 44);

  }

.exp1{

    position: absolute;
    margin-top: 28vh;
    right: 55vw;
    height: 6vh;
    width: 7vw;
    border-radius: 5px;
    border: 2px solid rgb(52, 48, 48);
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-numeric: ordinal;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1.3em;

}

.exp2{

    position: absolute;
    margin-top: 28vh;
    right: 47.2vw;
    height: 6vh;
    width: 7vw;
    border-radius: 5px;
    border: 2px solid rgb(52, 48, 48);
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-numeric: ordinal;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1.3em;

}


.pass{

    position:absolute;
    margin-top: 40vh;
    right: 52.5vw;
    margin-right: 20vw;
    top: 67px;
    background-color: transparent;
    color: rgb(41, 41, 44);

}

.pass-enter{

    position:absolute;
    margin-top: 42vh;
    margin-right: 22.2vw;
    top: 67px;
    right: 43.7vw;
    background-color: transparent;
    color: rgb(41, 41, 44);

}

  .password{

    position: absolute;
    margin-top: 38vh;
    right: 47.2vw;
    height: 6vh;
    width: 15vw;
    border-radius: 5px;
    border: 2px solid rgb(52, 48, 48);
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant-numeric: ordinal;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1.3em;

  }

  .pay-now{

    width: 30vw;
    height: 7vh;
    position: absolute;
    top: 400px;
    left: 23vw;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    background-color: blue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;

  }