.gallery-container {
    overflow: hidden;
    position: relative;
    width: 100vw;
    background: red;
  }
  
  .gallery-slider {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  